:root {
	--cor-de-fundo: #000;
	--cor-de-fundo-destaque: #dbfff6;
	--cor-fonte-primaria: #fff;
	--cor-fonte-secundária: #f7f7f7d2;
	--cor-fonte-dark: #000;
	--tamanho-fonte-grande: 2.3rem;
	--tamanho-fonte-pequena: 1.5rem;
	--tamanho-fonte-card: 0.9rem;
	--espessura-fonte-grande: 700;
}

* {
	font-family: Poppins;
	padding: 0;
	margin: 0;
}

body {
	background-color: var(--cor-de-fundo);
	color: var(--cor-fonte-secundária);
}

.canva1 {
	height:  100vh;
	display: flex;
	align-items: center;
	flex-direction: column;
	justify-content: center;
}

header {
	background-color: var(--cor-de-fundo);
	height: 200px;
	display: flex;
	flex-direction: column;
	align-items: center;
}

.header-content h3{
	@media (max-width: 768px) {
		font-size: 14px;
		text-align: center;
	}
}

.logo img {
	height:  170px;
}

.subtitle {
	display: flex;
	height: 220px;
	align-items: center;
	justify-content: center;
	color: var(--cor-fonte-primaria);
	flex-direction: column;
}

.subtitle h1 {
	font-size: var(--tamanho-fonte-grande);
	font-weight: var(--espessura-fonte-grande);
	color: var(--cor-fonte-primaria);
}

.subtitle p {
	font-size: var(--tamanho-fonte-pequena);
	width: 1200px;
	color:var(--cor-fonte-secundária);
	text-align: center;
}

main {
	display: flex;
	align-items: center;
	justify-content: center;
	flex-wrap: wrap;
	flex: 2;
}

.card {
	margin: 1rem;
	box-shadow: rgba(0, 0, 0, 0.05) 0px 1px 2px 0px;
}

.container-xl {
	display: flex;
	align-items: center;
}

.group-apresentation {
	display: flex;
	flex-direction: column;
	justify-content: center;
}

.text-apresentation {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
}

.buy {
	align-self: baseline;
	border: none;
	background-color: darkorange;
	padding: 7px;
	margin: 15px;
	border-radius: 25px;
	width: 90%;
	box-shadow: rgb(255, 255, 255) 0px 7px 29px 0px;
}

.text-apresentation h1 {
	font-size: var(--tamanho-fonte-grande);
}

.image-apresentation {
	max-width: 600px;
}

.image-apresentation img {
	max-width: 400px;
}

.card {
	border: none;
	border-radius: 25px;
	text-align: start;
}

.card h4 {
	color: var(--cor-fonte-dark)
}

.card p {
	font-size: var(--tamanho-fonte-card);
	color: var(--cor-fonte-dark)
}

.card img {
	width: 5rem; 
	align-self: baseline;
	margin:  20px;
}

.emp-container {
	margin-top: 7%;
}

.emp-container h1 {
	color: var(--cor-fonte-primaria);
}

.motivos {
	margin-top: 50px;
	background-color: var(--cor-de-fundo-destaque);
	box-shadow: rgba(255, 254, 254, 0.709) 0px 1px 2px 0px;
	display: flex;
	align-items: center;
	justify-content: center;
	height:  250px;
	flex-direction: column;
}

.motivos p {
	color: var(--cor-fonte-dark);
}

.motivos h1 {
	font-size: var(--tamanho-fonte-grande);
	font-weight: var(--espessura-fonte-grande);
	color: var(--cor-fonte-dark);
}

.motivos-detalhados {
	padding: 40px;
	display: flex;
	align-items: center;
	justify-content: center;
}

.motivos-detalhados h2 {
	font-size: var(--tamanho-fonte-grande);
	font-weight: var(--espessura-fonte-grande);
	color: var(--cor-fonte-primaria);
}

.motivos-detalhados p {
	font-size: var(--tamanho-fonte-pequena);
}

.motivos-detalhados div {
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	width: 250px;
}

.duvidas-frequentes {
	text-align: center;
	padding: 20px;
}

.duvidas-frequentes h1 {
	font-size: var(--tamanho-fonte-grande);
	font-weight: var(--espessura-fonte-grande);
	color: var(--cor-fonte-secundária);
	padding: 20px;
}

.accord {
	max-width: 800px;
	margin: 0 auto;
}

.preparado {
	margin-top: 5%;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
}

.cards-shop {
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: row;
}

.card-body {
	display: flex;
	flex-direction: column;
}

.card-text h4, 
.card-text p {
	color: var(--cor-fonte-primaria);
}

.card-head {
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.old-price {
	color: #de432b;
	text-decoration: line-through;
	text-align: center;
	font-size: 25px;
}

.new-price {
	color: #00ff0d;
	font-size: 50px;
	font-weight: var(--espessura-fonte-grande);
}

.card-head h3 {
	margin: 10px;
	border: 2px solid #00ff0d;
	color: var(--cor-fonte-primaria);
	border-radius: 10px;
	padding: 5px;
}

.preparado h1 {
	font-size: var(--tamanho-fonte-grande);
	font-weight: var(--espessura-fonte-grande);
	padding: 20px;
	color: var(--cor-fonte-secundária);
	text-align: center;
}

.preparado button {
	align-self: center;
	padding: 25px;
	font-size: 20px;
	box-shadow: rgba(100, 100, 111, 0.349) 0px 7px 29px 0px;
}

footer {
	margin-top: 300px;
	display: flex;
	align-items: center;
	justify-content: center;
	height: 120px;
	box-shadow: rgba(0, 0, 0, 0.05) 2px 1px 2px 2px;
}

@media screen and (max-width: 768px) {
	.container-xl {
		flex-direction: column;
		flex-wrap: wrap;
		justify-content: center;
		align-items: center;
	}

	.container-xl img {
		max-width: 50%;
	}
}