
@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@300;400;600&display=swap');

:root {
	--cor-de-fundo: #000;
	--cor-de-fundo-destaque: #dbfff6;
	--cor-fonte-primaria: #fff;
	--cor-fonte-secundária: #f7f7f7d2;
	--cor-fonte-dark: #000;
	--cor-fonte-destaque: #FFD60A;
	--cor-botao: -webkit-linear-gradient(#FFD60A, #faad07);
	--tamanho-fonte-grande: 2.3rem;
	--tamanho-fonte-pequena: 1.5rem;
	--tamanho-fonte-muito-pequena: 14px;
	--tamanho-fonte-card: 0.9rem;
		--espessura-fonte-grande: 700; 
}

* {
	font-family: 'Outfit';
	padding: 0;
	margin: 0;
}

body {
	background-color: var(--cor-de-fundo);
	color: var(--cor-fonte-secundária);
}

.canva1 {
	height: 100vh;
	display: flex;
	align-items: center;
	flex-direction: column;
	background-image: url('img/wallpaper\ 2.png');
    background-size: cover;
    background-repeat: no-repeat;
	background-position: center;
	box-shadow: -2px -7px 31px 36px rgba(0,0,0,0.84) inset;
	-webkit-box-shadow: -2px -7px 31px 36px rgba(0,0,0,0.84) inset;
	-moz-box-shadow: -2px -7px 31px 36px rgba(0,0,0,0.84) inset;
}

header {
	height: 170px;
	width: 100%;
	display: flex;
	flex-direction: row;
	padding: 0 50px;
	align-items: center;
	justify-content: space-between;
	background-color: var(--cor-de-fundo);
	box-shadow: rgb(0, 0, 0) 0px 40px 50px;
}

.text-apresentation h1 {
	text-align: left;
	display: block;
	text-transform: uppercase;
	color: var(--cor-fonte-primaria);
	font-weight: var(--espessura-fonte-grande);
	line-height: 0.8;
}

#h1-destaque, .motivos h1 {
	text-transform: uppercase;
	background: -webkit-linear-gradient(#FFD60A, #ffc037);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
}

.text-apresentation p {
	margin-top: 17px;
	font-size: 18px;
	line-height: 0.3;
}

.group-apresentation {
	display: flex;
	flex-direction: column;
	justify-content: center;
}

.pin-icon {
	display: flex; 
	align-items: end;
}

header h3 {
	font-size: var(--tamanho-fonte-muito-pequena)
}

.main-image {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

#apresentation {
	margin-top: 7%;
	display: flex;
	justify-content: space-around;
	align-items: center;
	flex-direction: row;
}

.header-content h3 {
	font-size: 15px;

	@media (max-width: 768px) {
		font-size: var(--tamanho-fonte-muito-pequena);
		text-align: center;
	}
}

.logo img {
	height: 170px;
}

.lord-icon {
	margin: 25px 0;
	align-self: center;
}

.subtitle {
	display: flex;
	height: 220px;
	align-items: center;
	justify-content: center;
	flex-direction: column;
}

.subtitle h1 {
	font-size: var(--tamanho-fonte-grande);
	font-weight: var(--espessura-fonte-grande);
	color: var(--cor-fonte-primaria);
}

.subtitle p {
	font-size: var(--tamanho-fonte-pequena);
	width: 800px;
	color: var(--cor-fonte-secundária);
	text-align: center;
}

main {
	display: flex;
	align-items: center;
	justify-content: center;
	flex-wrap: wrap;
	flex: 2;
}

.card {
	margin: 1rem;
	box-shadow: rgba(255, 255, 255, 0.445) 0px 1px 4px 0px;
}

.hidden {
	opacity: 0;
	filter: blur(5px);
	transform: translateX(-100%);
	transition: all 1s;
}

.show {
	opacity: 1;
	filter: blur(0);
	transform: translateX(0);
}

.card:nth-child(2) {
	transition-delay: 200ms;
}
.card:nth-child(3) {
	transition-delay: 400ms;
}

.container-xl {
	display: flex;
	align-items: center;
}

.buy {
	width: 90%;
	margin: 10px;
	align-self: baseline;
	border: none;
	background: var(--cor-botao);
	border-radius: 25px;
	box-shadow: 0 7px 50px 10px #000000aa;
	transition: all 0.3s ease 0s;
}

.buy:hover {
	box-shadow: 0 7px 50px 10px #000000aa;
	transition: .7s all;
	transform: translateY(-7px);
}

.buy:active {
	transform: translateY(-1px);
}

.text-apresentation h1 {
	font-size: var(--tamanho-fonte-grande);
}

.image-apresentation {
	max-width: 600px;
}

.image-apresentation img {
	max-width: 400px;
}

.card {
	border: none;
	border-radius: 25px;
	text-align: start;
}

.card-size {
	height: 350px;
}

.card h4 {
	color: var(--cor-fonte-primaria);
}

.card p {
	font-size: var(--tamanho-fonte-card);
	color: var(--cor-fonte-secundária);
}

.card img {
	width: 5rem;
	align-self: baseline;
	margin: 20px;
}

.emp-container {
	margin-top: 7%;
}

.emp-container h1 {
	color: var(--cor-fonte-primaria);
}


.motivos {
	/* background-color: var(--cor-de-fundo-destaque); */
	/* box-shadow: rgba(255, 254, 254, 0.709) 0px 1px 2px 0px; */
	display: flex;
	align-items: center;
	justify-content: center;
	height: 250px;
	width: 100%;
	flex-direction: column;
}

.motivos-detalhados div div {
	display: flex; 
	flex-direction: row
}

.professor {
	display: flex;
	align-items: center;
	justify-content: center;
	max-width: 1350px;
	padding: 20px;
	margin: auto;
}

.professor img {
	max-width: 600px;
	margin: 10px;
}

.professor-imagem {
	max-width: 100%;
	
}

#apresentacao {
	padding: 10px;
}

#apresentacao div p {
	text-align: justify;
}

.motivos p {
	color: var(--cor-fonte-primaria);
}

.motivos h1 {
	font-size: var(--tamanho-fonte-grande);
	font-weight: var(--espessura-fonte-grande);
	color: var(--cor-fonte-destaque);
}

.image-cripto {
	width: 100%;
	background-image: url('img/cripto.png');
    background-size: cover;
    background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
	background-attachment: fixed;
}

.motivos-detalhados {
	display: flex;
	align-items: center;
	justify-content: center;
}

.motivos-detalhados h2 {
	font-size: var(--tamanho-fonte-grande);
	font-weight: var(--espessura-fonte-grande);
	color: var(--cor-fonte-primaria);
}

.motivos-detalhados p {
	font-size: var(--tamanho-fonte-pequena);
}

.motivos-detalhados div {
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	width: 250px;
}

.duvidas-frequentes {
	text-align: center;
	padding: 20px;
}

.duvidas-frequentes h1 {
	font-size: var(--tamanho-fonte-grande);
	font-weight: var(--espessura-fonte-grande);
	color: var(--cor-fonte-secundária);
	padding: 20px;
}

.accord {
	max-width: 800px;
	margin: 0 auto;
}

.preparado {
	margin-top: 5%;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
}

.cards-shop {
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: row;
}

.card-body {
	display: flex;
	flex-direction: column;
}

.card-text h4,
.card-text p {
	font-size: 20px;
	color: var(--cor-fonte-primaria);
}

.card-head {
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.old-price {
	color: #de432b;
	text-decoration: line-through;
	text-align: center;
	font-size: 25px;
}

.new-price {
	color: #00ff0d;
	font-size: 50px;
	font-weight: var(--espessura-fonte-grande);
	text-align: center;
}

.card-head h3 {
	margin: -10px 10px 25px 0;
	writing-mode: tb-rl;
	transform: rotate(-55deg);
	background-color: #55e05c;
	box-shadow: rgba(0, 0, 0, 0.356) 2px 1px 20px 2px;
	color: var(--cor-fonte-primaria);
	border-radius: 10px;
	padding: 15px;
	text-transform: uppercase;
}

.preparado h1 {
	font-size: var(--tamanho-fonte-grande);
	font-weight: var(--espessura-fonte-grande);
	padding: 20px;
	color: var(--cor-fonte-secundária);
	text-align: center;
}

.preparado button {
	align-self: center;
	padding: 20px;
	font-size: 20px;
	margin-bottom: 15px;
}

footer {
	margin-top: 300px;
	display: flex;
	align-items: center;
	justify-content: center;
	height: 120px;
	box-shadow: rgba(0, 0, 0, 0.05) 2px 1px 2px 2px;
}

@media screen and (max-width: 1215px) {
	.professor img {
		width: 450px;
	}
}


@media screen and (max-width: 768px) {
	.container-xl {
		flex-direction: column;
		flex-wrap: wrap;
		justify-content: center;
		align-items: center;
	}

	.text-apresentation h1 {
		font-size: 30px;
		line-height: 1;
	}
	
	.text-apresentation p {
		line-height: 1;
		padding: 0;
		margin-top: 0;
	}

	.subtitle {
		text-align: center;
		font-size: 17px;
		margin:  5px;
		text-align: left;
	}

	.subtitle p {
		font-size: var(--tamanho-fonte-muito-pequena);
		width: 400px;
		text-align: left;
		padding: 10px;
	}

	.image-apresentation {
		display: flex;
		justify-content: center;
	}

	.emp-container {
		border: 1px solid var(--cor-fonte-destaque);
		border-radius: 10px;
		padding: 10px;
	}

	.header-infos {
		display: none;
	}

	.container-xl img {
		max-width: 70%;
	}

	.emp-container {
		flex-direction: column;
		flex-wrap: wrap;
		justify-content: center;
		align-items: center;
	}

	.professor {
		display: flex;
		align-items: center;
		justify-content: center;
		flex-wrap: wrap;
		padding: 0;
		margin: 0;
	}

	.professor p {
		padding: 0 20px;
	}
	
	.professor h1 {
		padding: 0 20px;
	}

	.professor img {
		width: 100%;
		margin: 20px 0;
		padding: 0;
	}

	#image-change {
		order: 1;
	}

	.motivos {
		margin: 10px;
	}

	.motivos-detalhados div div h2{
		font-size: var(--tamanho-fonte-pequena);
	}

	.motivos-unico {
		display: flex;
		align-items: center;
		justify-content: center;
		flex-direction: row;
		flex-wrap: nowrap;
	}

	.motivos-detalhados  {
		flex-direction: column;
		padding: 10px;
	}

	/* .motivos-detalhados div {
		flex-direction: row;
		padding: 0;
		margin: 0;
	} */
}
